<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<appSettings>
		<!-- Configuración de Email -->
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="EmailFrom" value="denilsonquichu@gmail.com" />
		<add key="EmailPassword" value="dtvt zjmp aeyq ppud" />
		<add key="EmailDisplayName" value="Pizzería Bambino" />
	</appSettings>


	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
</configuration>